:root {
	--bright1: #0E0D18;
	--bright2: #1b3b6f;
	--bright3: #065a82;
	--bright4: #1c7293;
	--bright5: #9eb3c2;
	--green: #b0f2b4;
	--cyan: #baf2e9;
	--blue: #bad7f2;
	--tan: #f2e2ba;
	min-height: 100%;
}

.fold_toggle {
	background-color: rgba(0,0,0,0);
	border: 1px solid black;
	border-radius: 3px;
}

.project_header {
	display: flex;
	justify-content: space-between;
}

.high_priority::marker {
	color: red;
}

.medium_priority::marker {
	color: yellow;
}

.high_priority_general {
	background-color: red;
}

.medium_priority_general {
	background-color: yellow;
}

html {
	min-height: 100vh;
	scrollbar-color: grey rgba(0,0,0,0);
}

body {
	background-color: var(--bright1);
	font-family: "Mulish", sans-serif;
}



h1 {
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
	color: var(--blue);
}

p {
	margin: 0;
}

.general_task {
	border-bottom: 1px solid var(--bright1);
}

#main_container {
	background-color: var(--cyan);
	border-radius: 25px;
	display: flex;
	max-height: 92vh;
	
}

.project_title {
	cursor: pointer;
	border-bottom: 1px solid var(--bright3);
}

.popup_text {
	color: white;
}

.sect_header {
	border-bottom: 1px solid var(--bright3);
}

#add_category_query {
	position: absolute;
	top: 25px;
	right: 20px;
}

#update_schema_query {
	position: absolute;
	top: 25px;
	right: 140px;
}

.promote_btn {
	display: none;
	
	right: 0;
	font-size: 1.5em;
	padding: 5px;
	background-color: rgba(0,0,0,0);
	border-radius: 5px;
}

#task_container {
	width: 30%;
	border-right: 2px solid var(--bright5);
	overflow-y: auto;
}
#category_container {
	width: 70%;
	overflow-y: auto;
}

.project_container {
	border: 1px solid var(--bright4);
	padding: 5px;
	max-width: 15vw;
	min-width: 15vw;
	height: fit-content;
	border-radius: 5px;
	margin: 5px;
	background-color: var(--bright5);
}

.sect_header {
	text-align: center;
	font-size: 2em;
}

.category_header {
	text-align: center;
	font-size: 1.5em;
	border-bottom: 1px solid var(--bright3);
}

.project_task_container {
	height: 30%;
	overflow: hidden;
}

.project_task {
	cursor: pointer;
	border-bottom: 1px solid var(--bright3);
	padding: 5px;
}

.category_content {
	display: flex;
	border-bottom: 1px solid var(--bright3);
	background-color: var(--blue);
	overflow-x: auto;
	scrollbar-color: grey rgba(0,0,0,0);
}

.general_task {
	display: flex;
	justify-content: space-between;
}

.general_task_checkbox {
	width: 100%;
}

.on_general {
	background-color: lightblue;
}



.general_task_text {
	min-width: 25vw;
	p {
		margin-left: 2px;
	}
}

#panel_popup {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	top: 20vh;
	left: 20vw;
	right: 20vw;
	bottom: 40vh;
}
