:root {
	--bright1: #0E0D18;
	--bright2: #1b3b6f;
	--bright3: #065a82;
	--bright4: #1c7293;
	--bright5: #9eb3c2;
	--green: #b0f2b4;
	--cyan: #baf2e9;
	--blue: #bad7f2;
	--tan: #f2e2ba;
	min-height: 100%;
}

#delete_task_button {
	background-color: rgba(255, 0, 0, 1);
	border-radius: 5px;
	padding: 5px;
}

#task_info {
	font-size: 1.3em;
	font-weight: bold;
}

#task_selected {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width:80%;
	margin: auto;
}

.add_project_btn  {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 5px;
}

#project_options {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

#delete_project_btn {
	position: absolute;
	bottom: 2vh;
	left: 10vw;
	right: 10vw;
	background-color: rgba(255,0,0,1);
	color: white;
	border-radius: 5px;
	padding: 5px;
}

#save_note_btn {
	display: block;
	margin: auto;
	margin-top: 5px;
}

#project_notes_input {
	width: 95%;
	display: block;
	margin: auto;
	margin-top: 5px;
}

#popup_projecttask_proj {
	border-top: 1px solid white;
}

#add_project_task_submit {
	width: 40%;
	margin: auto;
	margin-top: 5px;
}

#add_project_task_name  {
	width: 80%;
	margin: auto;
}

#popup_project_task_text {
	padding-bottom: 10px;
}

#popup_projecttask_task {
	display: flex;
	flex-direction: column;
	padding-bottom: 5px;
}

#delete_category_btn {
	background-color: rgba(255,0,0,1);
}

.project_popup_btn:hover {
	background-color: rgba(0, 0, 0, 1.0);
	cursor: pointer;
}

.project_popup_btn {
	width: 40%;
	margin: auto;
	height: 10%;
	background-color: rgba(0,0,0,0);
	color: white;
	height: 10%;
	border: 2px solid white;
	border-radius: 3px;
}

#add_project_name {
	width: 80%;
	margin:auto;
}

#popup_project_text {
	text-align: center;
}

#add_project_popup {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

#add_category_submit {
	width: 60%;
	margin: auto;
	background-color: rgba(0,0,0,0);
	color: white;
	height: 10%;
	border: 2px solid white;
	border-radius: 3px;
}

#add_category_submit:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,1);
}

#add_category_name {
	width: 80%;
	margin: auto;
}

#add_category_popup {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

#popup_category_header {
	text-align: center;
	margin: 5px;
}

#close_popup_btn {
	position: absolute;
	margin: 5px;
	right: 0;
	background-color: rgba(0,0,0,0);
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}

.project_container {
	border: 1px solid var(--bright4);
	padding: 5px;
	max-width: 15vw;
	min-width: 15vw;
	height: fit-content;
	border-radius: 5px;
	margin: 5px;
	background-color: var(--bright5);
}

#completed_tasks_list {
	color: white;
	border: 1px solid white;
	max-height: 20vh;
	overflow-y: scroll;
}

.project_priority_medium {
	background-color: yellow;
}

.project_priority_high {
	background-color: red;
}

.notes_div {
	background-color: var(--bright2);
	padding: 2px;
	margin-top: 2px;
	border-radius: 8px;
	color: white;
}

.fold_toggle {
	background-color: rgba(0,0,0,0);
	border: 1px solid black;
	border-radius: 3px;
}

.project_header {
	display: flex;
	justify-content: space-between;
}

.high_priority::marker {
	color: red;
}

.medium_priority::marker {
	color: yellow;
}

.high_priority_general {
	background-color: red;
}

.medium_priority_general {
	background-color: yellow;
}

html {
	min-height: 100vh;
	scrollbar-color: grey rgba(0,0,0,0);
}

body {
	background-color: var(--bright1);
	font-family: "Mulish", sans-serif;
}



h1 {
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
	color: var(--blue);
}

p {
	margin: 0;
}

.general_task {
	border-bottom: 1px solid var(--bright1);
}

#main_container {
	background-color: var(--cyan);
	border-radius: 25px;
	display: flex;
	max-height: 92vh;
	
}

.project_title {
	cursor: pointer;
	border-bottom: 1px solid var(--bright3);
}

.popup_text {
	color: white;
	text-align: center;
}

.sect_header {
	border-bottom: 1px solid var(--bright3);
}

button {
	cursor: pointer;
}

#add_category_query {
	position: absolute;
	top: 22px;
	right: 20px;
	background-color: rgba(0,0,100,1);
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
}

#update_schema_query {
	position: absolute;
	top: 25px;
	right: 140px;
}

.promote_btn {
	display: none;
	
	right: 0;
	font-size: 1.5em;
	padding: 5px;
	background-color: rgba(0,0,0,0);
	border-radius: 5px;
}

#task_container {
	width: 30%;
	border-right: 2px solid var(--bright5);
	overflow-y: auto;
}
#category_container {
	width: 70%;
	overflow-y: auto;
}



.sect_header {
	text-align: center;
	font-size: 2em;
}

.category_header {
	text-align: center;
	font-size: 1.5em;
	border-bottom: 1px solid var(--bright3);
}

.project_task_container {
	height: 30%;
	overflow: hidden;
}

.project_task {
	cursor: pointer;
	border-bottom: 1px solid var(--bright3);
	padding: 5px;
}

.category_content {
	display: flex;
	border-bottom: 1px solid var(--bright3);
	background-color: var(--blue);
	overflow-x: auto;
	scrollbar-color: grey rgba(0,0,0,0);
}

.general_task {
	display: flex;
	justify-content: space-between;
}

.general_task_checkbox {
	width: 100%;
}

.on_general {
	background-color: lightblue;
}



.general_task_text {
	min-width: 25vw;
	p {
		margin-left: 2px;
	}
}

#panel_popup {
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	top: 20vh;
	left: 20vw;
	right: 20vw;
	bottom: 20vh;
	border-radius: 15px;
}
